@use "sass:math";

// Helps to convert pixels to rem

@function rem($pixels, $context: 16) {

    @if math.is-unitless($pixels) {
        @return math.div($pixels, $context) * 1rem;
    }

    @else {
        @error "#{$pixels} value must not contain a unit, please remove the 'px' from the number";
    }
}

// returns clamp expression based on the parameters

@function fluid($min-size, $max-size, $min-breakpoint, $max-breakpoint, $unit: vw) {
    $slope: math.div($max-size - $min-size, $max-breakpoint - $min-breakpoint);
    $slope-to-unit: $slope * 100;
    $intercept-rem: rem($min-size - $slope * $min-breakpoint);
    $min-size-rem: rem($min-size);
    $max-size-rem: rem($max-size);
    @return clamp(#{$min-size-rem}, #{$slope-to-unit}#{$unit} + #{$intercept-rem}, #{$max-size-rem});
}