$font-family: 'IBM Plex Sans',
sans-serif;

$black: #191826;
$white: #FCFAF9;

$primary-red: #FA7453;
$btn-dark-hover: #66E2DC;
$btn-light-hover: #FFB964;

$breakpoints-up: ("mobile": 37.5em,
    "tablet": 48em,
    "desktop": 75em);

$breakpoints-down: ("mobile": 37.4375em,
    "tablet": 47.9375em,
    "desktop": 74.9375em);